<h1>Stupid coaching</h1>

<div class="question">
<h3><%= params[:question] %></h3>
<h3>-You</h3>
</div>
<div class="answer">
<h3><%= @answer %></h3>
<h3>-Your coach</h3>
</div>

<h4 class="link"><%= link_to "Ask me another question ?", ask_path %></h4>
