// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;
$yellow : #FEFDE1;

body {
  background: $gray; // Using this variable
}

a {
  color: #337ab7;;
  &:hover {
  color: black;
  text-decoration: none;
  }
}
.question {
  border-left: groove;

}
.answer {
  background-color: $yellow;
  border-left: groove;
}
input[type="text"] {
    width: 312px;
    padding: 10px;
}
input.btn-primary {
   padding: 10px;
   background-color: #337ab7
}
p {
  margin: 20px;
}
